<!-- 参集場所報告画面（モバイル） -->

<% if params[:notice] %>
  <div id="flash" style="color: green; border: green solid">
    <%= params[:notice] %>
  </div>
<% end %>

<%= form_tag :action => 'save_destination' do %>

  <%= hidden_field_tag "mail_id", @mail_id %>
  <%= hidden_field_tag "agent_id", @agent_id %>
  <%= hidden_field_tag "latitude", @latitude %>
  <%= hidden_field_tag "longitude", @longitude %>

  <p>参集場所（これから向かう場所）を選択してください。</p>

  <% if @all_shelters[@predefined_position] %>
    <% count = 2 %>
    <p>▼所定の参集場所</p>
    <p><%= radio_button "destination", "position", "#{@predefined_position + 1}" %>(1) <%= @all_shelters[@predefined_position].name %></p>
  <% else %>
    <% count = 1 %>
  <% end %>

  <p>▼近くの参集場所</p>

  <% for i in 0...@shelters.size %>
    <p><%= radio_button "destination", "position", "#{@shelters[i].id}" %><%="(#{i + count}) #{@shelters[i].name}"%></p>
  <% end %>

  <img src="http://maps.google.com/maps/api/staticmap?center=38.4344802,141.3029167
&zoom=<%= @zoom %>&size=200x200&sensor=false
&markers=<%= @latitude %>,<%= @longitude %>
<% if @all_shelters[@predefined_position] %>
  <%= "&markers=label:1|#{@all_shelters[@predefined_position].latitude},#{@all_shelters[@predefined_position].longitude}".html_safe %>
  <% i = 2 %>
<% else %>
  <% i = 1 %>
<% end %>
<% @shelters.each_with_index do |shelter, count| %>
  <%= "&markers=label:#{count+i}|#{shelter.latitude},#{shelter.longitude}".html_safe %>
<% end %>
">

  <p>▼参集場所に向かうのが困難</p>

  <p><%= check_box "destination", "place" %>理由を入力して下さい。</p>
  <p><%= text_field :destination, :reason %></p>

  <%= submit_tag "送信" %>

<% end %>
