<!-- 参集場所報告画面（スマートフォン/タブレット） -->

<% if params[:notice] %>
  <div id="flash" style="color: green; border: green solid">
    <%= params[:notice] %>
  </div>
<% end %>

<%= form_tag :action => 'save_destination' do %>

  <%= hidden_field_tag "mail_id", @mail_id %>
  <%= hidden_field_tag "agent_id", @agent_id %>
  <%= hidden_field_tag "latitude", @latitude %>
  <%= hidden_field_tag "longitude", @longitude %>
  <%= hidden_field "destination", "position", :value => "" %>

  <div id="place">参集場所（これから向かう場所）を、地図上のマーカーから選択してください。</div>

  <!-- マップ表示 -->
  <div id="map_canvas" style="height:350px;"></div>

  <div id="footer">
    <%= check_box "destination", "place" %>

    <label for="destination_place">参集場所に向かうのが困難</label>

    <%= text_field :destination, :reason, :placeholder => '理由を入力して下さい。' %>

    <%= submit_tag "送信" %>
  </div>

<% end %>
