<!--<h1>4.4.4.1.1. 参集場所報告画面（モバイル）</h1>-->

<%= form_tag :action => 'save_destination' do %>
  参集場所（これから向かう場所）を選択してください。<br>

  <p>▼所定の参集場所<br>
  <%= radio_button "destination", "place", "1" %>(1) <%= @predefinedposition.name %><br>
  </p>

  <p>▼近くの参集場所<br>
  <% for i in 1...@shelters.size %>
    <%= radio_button "destination", "place", "#{i + 1}" %><%="(#{i + 1}) #{@shelters[i].name}"%><br>
  <% end %>
  </p>

<img src="http://maps.google.com/maps/api/staticmap?center=38.4344802,141.3029167
&zoom=<%= @zoom %>&size=240x240&sensor=false
&markers=<%= @latitude %>,<%= @longitude %>
<% @shelters.each_with_index do |shelter, count| %>
  <%= "&markers=label:#{count+1}|#{shelter.latitude},#{shelter.longitude}".html_safe %>
<% end %>
">
  <p>▼参集場所に向かうのが困難<br>
    <%= check_box_tag "destination", "reason", "1" %>理由を入力して下さい。<br>
    <%= text_field :destination, :reason %>
  </p>

  <%= submit_tag "送信" %>
<% end %>
