<!-- 位置情報送信画面（スマートフォン/タブレット） -->

<% if params[:notice] %>
  <div id="flash" style="color: green; border: green solid">
    <%= params[:notice] %>
  </div>
<% end %>

<p>下記のボタンから、現在位置を送信してください。</p>

<%= form_tag :action => 'save_position', :onSubmit => "return checkPosition(@latitude, @longitude);" do %>
  <%= hidden_field_tag "disaster_code", @disaster_code %>
  <%= hidden_field_tag "agent_id", @agent_id %>
  <%= hidden_field_tag "latitude", @latitude %>
  <%= hidden_field_tag "longitude", @longitude %>
  <%= submit_tag '現在位置を送信', :id => 'send' %>
<% end %>

<p>※ボタン押下後に、確認を求められますが、全て承諾してください。</p>
