<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
    <title></title>
    <%= csrf_meta_tag %>
    <link href="http://code.jquery.com/mobile/latest/jquery.mobile.min.css" rel="stylesheet" type="text/css" />
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).bind("mobileinit", function(){
      $.mobile.ajaxEnabled = false; // ajaxを無効
    });
    </script>
    <script src="http://code.jquery.com/mobile/latest/jquery.mobile.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&language=ja"></script>
    <%= javascript_include_tag 'staffs' %>
    <%= yield :header_tags -%>
  </head>
  <body>

    <%= yield %>

    <script type="text/javascript">
      $(window).load(function() {
        var height = $(window).height() - $("#flash").height() - $("#place").height() - $("#footer").height() - 20;
        $("#map_canvas").height(height);
        <% if @shelters %>
          <%= "iniMap(#{@latitude}, #{@longitude}, #{@zoom});" %>

          <% if @all_shelters[@predefined_position] %>
            <%= "iniShelters(0, #{@predefined_position + 1}, '#{@all_shelters[@predefined_position].name}', #{@all_shelters[@predefined_position].latitude}, #{@all_shelters[@predefined_position].longitude});".html_safe %>
            <% count = 1 %>
          <% else %>
            <% count = 0 %>
          <% end %>

          <% @shelters.each do |shelter| %>
            <%= "iniShelters(#{count}, #{shelter.id}, '#{shelter.name}', #{shelter.latitude}, #{shelter.longitude});".html_safe %>
            <% count += 1 %>
          <% end %>
       <% end %>
      });
    </script>

  </body>
</html>
