<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title><%= t("label_title") %></title>
    <meta name="description"/>
    <meta name="keywords" content="issue,bug,tracker" />
    <%= stylesheet_link_tag 'jquery/jquery-ui-1.8.21', 'application', :media => 'all' %>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&language=ja"></script>
    <%= javascript_include_tag "staffs_index" %>
    <!-- page specific tags -->
  </head>
  <body onload="<%= "iniMap(#{@latitude}, #{@longitude}, #{@zoom});" %>
    <% @gathering_positions.each do |id, gathering_position| %>
      <%= "iniShelters(#{id.to_i - 1}, '#{h gathering_position["name"]}', #{gathering_position["latitude"].to_f}, #{gathering_position["longitude"].to_f});" %>
    <% end %>
    <% @staffs.each_with_index do |staff, count| %>
      <% latlng_present = (staff.latitude.present? && staff.longitude.present?) %>
      <%= "iniStaffs(#{count}, '#{h staff.name}', #{latlng_present ? staff.latitude : 'null'}, #{latlng_present ? staff.longitude : 'null'}, '#{staff.mail_address}', '#{staff.destination_code.present? ? @gathering_positions[staff.destination_code]["name"] : ""}', #{staff.status.nil? ? 'null' : staff.status}, '#{h staff.reason}');" %>
    <% end %>
  ">

    <div id="wrapper">
      <div id="wrapper2">

        <div id="top-menu">
          <div id="account">
            <ul>
              <li>
                <%= link_to "ログアウト", destroy_user_session_path %>
              </li>
            </ul>
          </div>
        </div>

        <div id="header">
          <h1>職員位置確認</h1>
          <div id="main-menu">
            <%= tabs_tag(:builder => MenuTabBuilder) do |tab| %>
              <%= tab.gatheringposition t("label_tab_gatheringposition"), root_path %>
              <%= tab.department t("label_tab_department"), staffs_index_department_path %>
            <% end %>
          </div>
        </div>

        <div id="main" class="sidebar">
          <div id="content">
            <% #左のリスト部分 %>
            <div id="list">
              <fieldset class="collapsible collapsed">
                <legend onclick="toggleFieldset(this);">肩代わり報告</legend>
                <% @notes.each do |note| %>
                  <div style="display: none; padding:5px; border-bottom: 1px solid #EEE;">
                    <p style="margin: 5px;"><%= note.note %></p>
                    <span style="color: #999;margin-left:10px;"><%= note.name %></span><span style="color: #999; margin-left: 25px;"><%= note.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></span>
                  </div>
                <% end %>
              </fieldset>

              <!-- 現在位置不明, 参集先不明, 参集不可 -->
              <fieldset class="collapsible collapsed">
                <legend onclick="toggleFieldset(this);">現在位置不明<span class="num"><%= @position_unknown_staffs.size %>名</span></legend>
                <div style="display: none;">
                  <ul class="person_list">
                  <% @position_unknown_staffs.each_with_index do |staff, pos| %>
                    <li><%= link_to staff.name, {}, :onclick=> "showUnknownStaff(#{pos}, '#{h staff.name}', '#{staff.mail_address}'); return false;".html_safe %></li>
                  <% end %>
                  </ul>
                </div>
              </fieldset>
              <fieldset class="collapsible collapsed">
                <legend onclick="toggleFieldset(this);">参集先不明<span class="num"><%= @destination_unknown_staffs.size %>名</span></legend>
                <div style="display: none;">
                  <ul class="person_list">
                  <% @destination_unknown_staffs.each_with_index do |staff, pos| %>
                    <li><%= link_to staff.name, {}, :onclick=> "showStaff(#{pos}, '#{h staff.name}', '#{staff.mail_address}', '', #{staff.status ? staff.status : 'null'}, '#{h staff.reason}'); return false;".html_safe %></li>
                  <% end %>
                  </ul>
                </div>
              </fieldset>
              <fieldset class="collapsible collapsed">
                <legend onclick="toggleFieldset(this);">参集不可<span class="num"><%= @not_gathered_staffs.size %>名</span></legend>
                <div style="display: none;">
                  <ul class="person_list">
                  <% @not_gathered_staffs.each_with_index do |staff, pos| %>
                    <li><%= link_to staff.name, {}, :onclick=> "showStaff(#{pos}, '#{h staff.name}', '#{staff.mail_address}', '', #{staff.status}, '#{h staff.reason}'); return false;".html_safe %></li>
                  <% end %>
                  </ul>
                </div>
              </fieldset>

              <%= yield %>
            </div>

            <% #右のMAP部分 %>
            <div id="map_canvas"></div>
            <div style="clear:both;"></div>
          </div>
        </div>

        <div id="ajax-indicator" style="display:none;"><span></span></div>
        <div id="ajax-modal" style="display:none;"></div>

        <div id="footer">
          <div class="bgl">
            <div class="bgr"></div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $(window).load(function() {
        var height = $(window).height() - $("#top-menu").height() - $("#header").height() - $("#footer").height() - 20;
        $("#list").height(height);
        $("#map_canvas").height(height);
      });
    </script>

  </body>
</html>
