<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
    <title><%= t("label_title") %></title>
    <%= csrf_meta_tag %>
    <link href="http://code.jquery.com/mobile/latest/jquery.mobile.min.css" rel="stylesheet" type="text/css" />
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).bind("mobileinit", function(){
        $.mobile.ajaxEnabled = false; // ajaxを無効
      });
    </script>
    <script src="http://code.jquery.com/mobile/latest/jquery.mobile.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&language=ja"></script>
    <%= javascript_include_tag 'smartphone' %>
    <%= yield :header_tags -%>
  </head>
  <body>
    <% if params[:notice] %>
      <div id="flash" style="color: green; border: green solid">
        <%= params[:notice] %>
      </div>
    <% end %>
    <%= yield %>
    <div style="padding: 1em; text-align: right; color: #666;">
      <%= SETTINGS["version"] %>
    </div>
  </body>
</html>
